/* Home page stuff */

#intro {
  background: black url(../img/ultra-bungee-hero.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 250px;
  margin-top:-10em ;
}

/* Links in the middle inside the home page */
.intro-block {
  margin-top: 40em;
  padding-top: 2em;
  text-align:center;
  font-size:19px;
  color:#003b63;
  padding-bottom:2em;
  background-color: #bef20098;
  
}
/* "The button" ruleset */
.intro-block a{
  display: inline-block;
  color:inherit;
  font-size: inherit;
  margin: 30px 5px;
  border: #003b63 2px solid;
  min-width: 150px;
  text-decoration: none;
  padding: 1em;
}
/* All 3 content pages */

#bridge-info h2 {
  color:#003b63;
  font-size: 6em;
}

.three-cards {
  color: black;
  font-size: 1em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  text-align: center;
}

.three-cards h3 {
  font-size: 4em;
}

.quote {
  margin-top: 1em;
  padding-top: 2em;
  text-align:center;
  font-size:19px;
  color:white;
  padding-bottom:2em;
  margin-bottom: 40em;
  background-color: #003b63c5;
}

/* Bridge page */
#bridge {
  background: black url(../img/bridge1.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 250px;
  margin-top:-10em ;
}

/* Canyon page */
#canyon {
  background: black url(../img/canyon1.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 250px;
  margin-top:-10em ;
}

/* Tower page */
#tower {
  background: black url(../img/tower1.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 250px;
  margin-top:-10em ;
}


/* Contact page*/
.contact-block a{
  display: inline-block;
  color:inherit;
  font-size: inherit;
  margin: 30px 5px;
  border: #003b63 2px solid;
  min-width: 150px;
  text-decoration: none;
  padding: 1em;
}

/* Styling that affects all pages */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1{
  font-size:3em;
  text-align:center;
}

header {
  background-color: #00aeff00;
}

nav {
  padding-top: 3em;
  padding-right: 3em;
  text-align:center;
  float: right;
}

nav ul {
  list-style-type: none; 
  margin: 0; 
  padding:0; 
}

nav li {
  display:inline-block;
}


nav li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgba(88, 88, 88, 0.486);
  border: #383535;
  border-radius: 2em;
}
nav li a:hover {
  background-color: rgba(22, 22, 22, 0.6);
}


article {
  text-align: center;
}

article a:hover {
  color: white;
  background-color: #003b63;
  border-color: #003b63;
}

section a:hover {
  color: white;
  background-color: #003b63;
  border-color: #003b63;
}


footer{
  margin-bottom:0;
  text-align:center;
  color:white;
  background-color:#ed107f;
  padding-top:3em;
  padding-bottom:3em;
  padding-left:5em;
  padding-right:5em;
  font-size:24px;
}